<main id="wrapper log-in">
  <div class="flex-container">
    <section>
      <div id="login-section">
        <div id="login-logo-box">
          <button (click)="foo()">xxxxx</button>

          <div id="login-logo"></div>
        </div>
        <h1 *ngIf="!error" class="margin-top-20">Welcome!</h1>
        <div *ngIf="error" class="invalid-feedback margin-top-20">{{error}}</div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="username" class="form-label">Username</label>

            <div>
              <fa-icon class="form-icon" [icon]="userIcon"></fa-icon>
              <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <div>
              <fa-icon class="form-icon" [icon]="lockIcon"></fa-icon>
              <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
            </div>
          </div>
          <div class="flex-space-between margin-top-10">
            <div class="form-check">
              <!--<span class="small-text">-->
                <!--<input type="checkbox" class="checkbox" [value]="persistSignIn" (click)="persistingSignIn($event.target)">-->
                <!--Keep me signed in-->
              <!--</span>-->
            </div>
            <!--<label class="small-text">-->
              <!--<input type="checkbox" name="checkbox" class="checkbox" (click)="persistSignIn = !persistSignIn">Keep me signed in-->
            <!--</label>-->
            <div class="no-login p-text-link-dark" (click)="forgotPassword()">Forgot Password?</div>
          </div>
          <div class="margin-top-20">
            <button [disabled]="loading" class="primary-btn width-100">Login</button>
          </div>
          <div id="loader">
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </div>
          <div class="margin-top-20 text-center">
            <span class="light-text">Don't have an account? <a routerLink="/register-2" class="no-login p-text-link">Create</a></span>
          </div>
        </form>
      </div>
      <div id="login-footer" style="font-size: .7em">
        <img src="../../assets/images/temp-logo-plain.png" alt="logo" class="footer-logo">
        <span id="instream-link">Built by <a class="p-text-link" href="https://www.instreamllc.com">InStream</a>&reg;</span>
        <p>2020 All Rights Reserved</p>
      </div>
    </section>
    <section id="login-sidebar">
      <div id="login-img-div"></div>
    </section>
  </div>
</main>
