<adf-sidenav-layout [sidenavMin]="70" [sidenavMax]="200" [stepOver]="780" [hideSidenav]="false" [expandedSidenav]="true">

    <adf-sidenav-layout-header>
        <ng-template let-toggleMenu="toggleMenu">
            <mat-toolbar color="white" class="adf-app-layout-toolbar mat-elevation-z6">
                <span fxFlex="1 1 auto" fxShow fxHide.lt-sm="true"><img src="../../assets/images/instream-white-bg.png" alt="logo" style="height: 50px; margin-left: 15px"></span>
                <button mat-icon-button (click)="toggleMenu()">
                    <mat-icon>menu</mat-icon>
                </button>
                <div class="adf-app-layout-menu-spacer"></div>
                <span class="menu-spacer"></span>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-icon matPrefix>search</mat-icon>
                        <input class="search-input" matInput placeholder="Global Search">
                    </mat-form-field>
                </div>
                <div id="nav-right">
                    <mat-icon matTooltip="Doing Something" [matTooltipClass]="{ 'tool-tip': true } "class="cursor-pointer">thumb_up</mat-icon>
                    <mat-icon customTooltip addStyle="purpleTooltip" position="leftBottom" toolTip="I am positioned left- bottom and am semi-transparent" class="cursor-pointer">notifications</mat-icon>
                    <mat-icon customTooltip addStyle="greenTooltip" position="centerBottom" toolTip="I am positioned centered bottom and have rounded edges" class="cursor-pointer">business_center</mat-icon>
                    <mat-icon [matMenuTriggerFor]="logoutMenu" class="cursor-pointer">login</mat-icon>
                    <mat-menu #logoutMenu="matMenu">
                        <button mat-menu-item (click)="logout()">Log Out</button>
                        <button mat-menu-item (click)="login()">Log In</button>

                        <button mat-menu-item>Item 2</button>
                    </mat-menu>
                </div>
            </mat-toolbar>
        </ng-template>

    </adf-sidenav-layout-header>
    <adf-sidenav-layout-navigation>
        <ng-template let-isMenuMinimized="isMenuMinimized">
            <mat-nav-list class="adf-sidenav-linklist">
                <ng-container *ngFor="let menuItem of mainMenuItems">
                    <a *ngIf="menuItem.title !== 'Admin'"
                       mat-ripple
                       class="sidenav-link"
                       [style.position]="'relative'"
                       routerLinkActive="selected"
                       [routerLink]="[menuItem.path]"
                       (click)="chooseSecondaryNav(menuItem)">
                        <span *ngIf="!isMenuMinimized()" class="sidenav-menu-label">{{menuItem.title}}</span>
                        <fa-icon class="nav-icon" [icon]="menuItem.icon"></fa-icon>
                        <br>
                    </a>
                </ng-container>
                <a *ngIf="currentUser.username === 'admin'"
                   mat-ripple class="sidenav-link"
                   routerLink="/admin"
                   (click)="chooseSecondaryNav(mainMenuItems[0])">
                    <div class="sidenav-menu-label" *ngIf="!isMenuMinimized()">Admin</div>
                    <fa-icon class="nav-icon" [icon]="printIcon"></fa-icon>
                </a>
            </mat-nav-list>
        </ng-template>
    </adf-sidenav-layout-navigation>
    <adf-sidenav-layout-content>
        <ng-template>
            <div id="secondary-nav">
                <div *ngIf="currentMenuItem.icon && currentMenuItem.title">
                    <fa-icon id="secondary-nav-icon" [icon]="currentMenuItem.icon"></fa-icon>
                    <span id="secondary-nav-text">{{currentMenuItem.title}}</span>
                </div>
                <div *ngIf="currentMenuItem.title === 'Home'" class="flex">
                    <p id="secondary-nav-tooltip-text">Overview</p>
                    <mat-icon class="tooltip-icon" position="leftTop" customTooltip addStyle="redTooltip" toolTip="I am positioned left top and am very, very red.">error_outline</mat-icon>
                </div>
            </div>
            <router-outlet></router-outlet>
        </ng-template>
    </adf-sidenav-layout-content>
</adf-sidenav-layout>
