@import '~@alfresco/adf-content-services/theming';
@import '~@alfresco/adf-core/theming';

@import '~@angular/material/theming';
@import 'colors';

@include mat-core();

$primary: mat-palette($primary-color);
$accent:  mat-palette($secondary-color);
$warn:    mat-palette($alfresco-warn);
$theme:   mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include adf-content-services-theme($theme);
@include adf-core-theme($theme);

//$background: map-get($theme, background);

//body, html {
//    margin: 0;
//    height: 100%;
//    overflow: hidden;
//    background: mat-color($background, 'card');
//    font-size: mat-font-size($alfresco-typography, body-1);
//    font-family: mat-font-family($alfresco-typography);
//    line-height: mat-line-height($alfresco-typography, body-1);
//}

@import "colors";

@font-face {
    font-family: Montserrat;
    src: url('./assets/fonts/Montserrat-Regular.ttf') format('opentype');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('./assets/fonts/Montserrat-Bold.ttf') format('opentype');
}

@font-face {
    font-family: Montserrat-Light;
    src: url('./assets/fonts/Montserrat-Light.ttf') format('opentype');
}

@font-face {
    font-family: Montserrat-Thin;
    src: url('./assets/fonts/Montserrat-Thin.ttf') format('opentype');
}

body {
    overflow: auto;
    font-family: Montserrat, Helvetica, sans-serif;
    margin: 0;
    background-color: #f2edf3;
}

.adf-container-full-width {
    background-color: #f2edf3;
}

button:focus,
input:focus {
    outline: none;
}

.mat-form-field-wrapper {
    padding-bottom: 0;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 2px 0 12px 10px;
}

.adf-app-layout-toolbar {
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: rgba(0, 0, 0, 0.05);
    }
}

.mat-badge-small.mat-badge-above .mat-badge-content {
    left: 13px;
    top: -7px;
}

.mat-menu-panel {
    min-width: 150px !important;
    margin-top: 8px;
}

.tooltip {
    display: inline-block;
    border-bottom: 1px dotted black;
    position: absolute;
    color: white;
    background-color: blue;
    padding: 20px;
    z-index: 1000;
    max-width: 250px;
    overflow: visible;
}

.greenTooltip {
    background-color: green;
    border-radius: 20px;
}

.redTooltip {
    background-color: red;
    //top: 100px;
    //left: 400px;
}

.purpleTooltip {
    background-color: $main-purple-25;
    color: black;
    padding: 30px 10px;
}
.basic-container {
    padding: 5px;
    @media screen and (min-width: 420px){
        padding: 10px;
    }
    @media screen and (min-width: 640px){
        padding: 20px;
    }
    @media screen and (min-width: 900px){
        padding: 40px;
    }
}
.flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-label {
    color: #454545;
    font-size: 0.8em !important;
    letter-spacing: 0.9px;
    font-family: Montserrat-Light, Montserrat, sans-serif;
}

.invalid-feedback {
    color: $red;
    margin-bottom: 20px;
}

.checkbox {
    -webkit-appearance: initial;
    -moz-appearance: initial;
    appearance: initial;
    background-color: $white !important;
    border: 1px solid #64C835 !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    width: 14px;
    height: 14px;
    position: relative;
    cursor: pointer;
}

.checkbox:active, .checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1) !important;
}

.checkbox:checked {
    background-color: #64C835 !important;
    border: 1px solid #64C835 !important;
}

.checkbox:hover {
    background-color: #64C835 !important;
    border: 1px solid #64C835 !important;
    text-decoration: none !important;
}

input[type="checkbox" i] {
    margin: 10px 5px 0 0;
}

.primary-btn,
.secondary-btn {
    height: 3.214em;
    padding: 12px 35px;
    color: $white;
    font-size: 1em;
    border-radius: 3px;
    border: none !important;
    cursor: pointer;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.primary-btn {
    background: linear-gradient(to right, #b2da95, #59c322);
    text-transform: uppercase;
}
.secondary-btn {
    background: linear-gradient(to right, #9a55ff, $main-purple);
}

.primary-btn:hover,
.primary-btn:focus,
.primary-btn:active {
    background: #3b8116;
    color: $white;
}

.secondary-btn:hover,
.secondary-btn:focus,
.secondary-btn:active {
    background: $violet;
    color: $white;
}

.primary-btn:disabled,
.primary-btn[disabled]:hover,
.secondary-btn:disabled,
.secondary-btn[disabled]:hover{
    color: #ffffff;
    background-color: $medium-grey;
    border: none;
}

.p-text-link {
    font-size: 1em;
    text-decoration: none;
}

.p-text-link {
    color: #64C835;
    font-size: 1em;
    text-decoration: none;
}

.p-text-link-dark {
    color: #33671C;
}

.p-text-link-dark:hover,
.p-text-link-dark:active,
.p-text-link:hover,
.p-text-link:active {
    color: $main-purple-50;
    text-decoration: underline;
    cursor: pointer;
}

.small-text {
    font-size: .9em;
    font-family: Montserrat-Light, Helvetica, sans-serif;
}

.light-text {
    font-family: Montserrat-Light,  Montserrat, Helvetica, sans-serif;
}

.icons {
    width: auto;
    height: 45px;
}

.tooltip-icon {
    color: #b66dff;
    font-size: 14px;
    margin: 3px 0 0 3px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-right-10 {
    padding-right: 10px;
}

.text-right {
    text-align: right;
}

.cursor-pointer {
    cursor: pointer;
}

.width-100 {
    width: 100%;
}

.content {
    .mat-card-header-text {
        margin: 0 16px 0 0;
    }
    .mat-card-header .mat-card-title {
        margin-bottom: 25px;
    }
}